<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIE NIGHT</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="LOGO">
                <a class="header_movie" href="/main/">Movie Night</a>
            </div>
            <div class="topnav">
                <form method="get" action="/search/">
                    <input type="text" name="search" placeholder="Search..">
                </form>
            </div>
        </div>
    </header>

    <ul class="grid">

        {{if .Movies}}
        {{range .Movies}}
        <div class="grid_background">

            <li class="grid-item">
                <span class="Genre">{{.Genre}}</span>
                <form method="Post" action="/about/">
                    <input type="hidden" name="movie_ids" value="{{.Id}}">
                    <button type="submit" class="hiddenbutton">
                        <img type="submit" src="{{.PosterPath}}" alt="{{.Title}}">
                    </button>
                </form>

                <span class="title">{{.Title}}</span>
                <div class="switch-movie-button">
                    <button class="switch-movie-button" href="#modal">
                        <a class=" open-modal">Switch</a>
                    </button>
                </div>
            </li>

        </div>
        {{end}}
        {{else if .SearchMovies}}
        {{range .SearchMovies}}
        <div class="grid_background">
            <li class="grid-item">
                <form method="Post" action="/about/">
                    <input type="hidden" name="movie_ids" value="{{.Id}}">
                    <button type="submit" class="hiddenbutton"> <img src="{{.PosterPath}}" alt="{{.Title}}"
                            class="poster">
                    </button>
                </form>
                <span class="title">{{.Title}}</span>
                <var data-movie-id="{{.Id}}"></var>
                <div class="switch-movie-button">
                    <button class="switch-movie-button" href="#add">
                        <a class=" open-add">Add</a>
                    </button>
                </div>
            </li>
        </div>
        {{end}}
        {{else}}
        <p>No movies found.</p>
        {{end}}
    </ul>

    <!-- The Modal for Switching Movies -->
    <div id="modal" class="modal">
        <div class="modal-content">

            <!-- Close the modal with a link -->
            <a href="#" class="close">&times;</a>
            <!-- Modal Search Form -->
            <form method="get" action="/modal-search">
                <input type="text" name="search" placeholder="Search..">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>


    </div>
    </div>

    <!-- The Modal for Adding Movies -->
    <div id="add" class="modal">
        <div class="modal-content">
            <!-- Close the modal with a link -->
            <a href="#" class="close">&times;</a>

            <button hx-post="/add-movie/" hx-vals='{"category":"Anime", "movie_id":""}'
                hx-on="htmx:afterRequest: document.querySelector('close').style.display='none'">
                Anime
            </button>
            <button hx-post="/add-movie/" hx-vals='{"category":"Animation", "movie_id":""}'
                hx-on="htmx:afterRequest: document.querySelector('close').style.display='none'">
                Animation
            </button>
            <button hx-post="/add-movie/" hx-vals='{"category":"Action", "movie_id":""}'
                hx-on="htmx:afterRequest: document.querySelector('close').style.display='none'">
                Action
            </button>
            <button hx-post="/add-movie/" hx-vals='{"category":"Drama", "movie_id":""}'
                hx-on="htmx:afterRequest: document.querySelector('close').style.display='none'">
                Drama
            </button>
            <button hx-post="/add-movie/" hx-vals='{"category":"Comedy", "movie_id":""}'
                hx-on="htmx:afterRequest: document.querySelector('close').style.display='none'">
                Comedy
            </button>
            <button hx-post="/add-movie/" hx-vals='{"category":"Random", "movie_id":""}'
                hx-on="htmx:afterRequest: document.querySelector('close').style.display='none'">
                Random
            </button>
            <button hx-post="/add-movie/" hx-vals='{"category":"Weird", "movie_id":""}'
                hx-on="htmx:afterRequest: document.querySelector('close').style.display='none'">
                Weird
            </button>
        </div>
    </div>
    </div>


    <script>
        // Get the modals
        var modal = document.getElementById("modal");
        var addModal = document.getElementById("add");

        // Get the buttons that open the modals
        var btnOpenModal = document.querySelectorAll(".open-modal");
        var btnOpenAdd = document.querySelectorAll(".open-add");


        // Get the <span> element that closes the modals
        var spanCloseModal = modal.querySelector(".close");
        var spanCloseAdd = addModal.querySelector(".close");

        function setMovieId(element) {
            // Find the closest var element with the data-movie-id attribute
            var movieId = element.closest('.grid-item').querySelector('var').getAttribute('data-movie-id');

            // Update the hx-vals attribute of all buttons in the add modal
            var buttons = document.querySelectorAll('#add button');
            buttons.forEach(function (button) {
                var hxVals = JSON.parse(button.getAttribute('hx-vals'));
                hxVals.movie_id = movieId;
                button.setAttribute('hx-vals', JSON.stringify(hxVals));
            });

            // Show the add modal
            var addModal = document.getElementById("add");
            addModal.style.display = "block";
        }

        document.querySelectorAll('.open-add').forEach(function (btn) {
            btn.addEventListener('click', function (e) {
                e.preventDefault();  // Prevent the default anchor behavior
                setMovieId(btn);     // Set the movie ID and open the modal
            });
        });

        // Set up the event listeners for opening modals
        btnOpenModal.forEach(function (btn) {
            btn.addEventListener('click', function (e) {
                e.preventDefault();  // Prevent the default anchor behavior
                modal.style.display = "block";
            });
        });

        btnOpenAdd.forEach(function (btn) {
            btn.addEventListener('click', function (e) {
                e.preventDefault();  // Prevent the default anchor behavior
                addModal.style.display = "block";
            });
        });

        // When the user clicks on <span> (x), close the modals
        spanCloseModal.onclick = function () {
            modal.style.display = "none";
        }

        spanCloseAdd.onclick = function () {
            addModal.style.display = "none";
        }


        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
            if (event.target == addModal) {
                addModal.style.display = "none";
            }

        }


        document.querySelectorAll('.poster').forEach(function (poster) {
            poster.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent the default behavior of the link
                const movieId = poster.getAttribute('data-movie-id');
                // window.location.href = `/info/?movie_id=${movieId}`; // Redirect with movie_id as a query parameter

            });
        });

    </script>

</html>