<!DOCTYPE html>
<html lang="en">

<!-- Setting up html document -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIE NIGHT</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">

    <script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="LOGO">
                <a class="header_movie" href="/main/">Movie Night</a>
            </div>
        </div>
    </header>

    <!-- Searchbar  -->
    <ul class="search-bar">

        <div class="topnav">
            <form method="get" action="/search/">
                <input type="text" name="search" placeholder="Search..">
                <button type="submit">Search</button>
            </form>
        </div>


        </div>
    </ul>

    <!-- Main grid for handeling movies -->
    <ul class="grid">

        {{if .Movies}}
        {{range .Movies}}
        <div class="grid_background">

            <li class="grid-item">
                <form method="Post" action="/about/">
                    <input type="hidden" name="movie_ids" value="{{.Id}}">
                    <button type="submit" class="hiddenbutton">
                        <span class="Genre">{{.Genre}}</span>
                        <img type="submit" src="{{.PosterPath}}" alt="{{.Title}}">
                    </button>
                </form>
                <span class="grid-title">{{.Title}}</span>
            </li>
            <li class="winner-list">
                <div class="switch-movie-button">
                    <form method="Post" action="/winner/">
                        <input type="hidden" name="winner_id" value="{{.Id}}">
                        <button type="submit" href="#main">Winner?</button>
                    </form>
                </div>
            </li>

        </div>
        {{end}}
        {{if .WinnerMovie}}
        <div class="grid_background">
            <li class="grid-item">
                <form method="post" action="/about/">
                    <input type="hidden" name="movie_ids" value="{{.WinnerMovie.Id}}">
                    <button type="submit" class="hiddenbutton">
                        <span class="Genre">{{.WinnerMovie.Genre}}</span>
                        <img src="{{.WinnerMovie.PosterPath}}" alt="/static/images/No.Picture-Found.png">
                    </button>
                </form>
                <span class="grid-title">{{.WinnerMovie.Title}}</span>
            </li>
        </div>
        {{end}}
        {{else if .SearchMovies}}
        {{range .SearchMovies}}
        <div class=" grid_background">
            <li class="grid-item">
                <form method="Post" action="/about/">
                    <input type="hidden" name="movie_ids" value="{{.Id}}">
                    <button type="submit" class="hiddenbutton">
                        <img src="{{.PosterPath}}" alt="/static/images/No-Picture-Found.png">
                    </button>
                </form>
                <span class="grid-title">{{.Title}}</span>
            </li>
            <div class="switch-movie-button">
                <form method="Post" action="/add-movie/">
                    <select id="movies" name="category" onchange="this.form.submit()">
                        <option type="" name="" value="">Genre</option>

                        <option type="submit" name="category" value="Anime">Anime</option>

                        <option type="submit" name="category" value="Animation">Animation</option>

                        <option type="submit" name="category" value="Action">Action</option>

                        <option type="submit" name="category" value="Drama">Drama</option>

                        <option type="submit" name="category" value="Comedy">Comedy</option>

                        <option type="submit" name="category" value="Random">Random</option>

                        <option type="submit" name="category" value="Weird">Weird</option>
                    </select>
                </form>

            </div>
        </div>
        {{end}}
        {{else}}
        <p>No movies found.</p>
        {{end}}
    </ul>


</html>