<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIE_NIGHT</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <div class="header-container">
            <div class="LOGO">
                <a class="header_movie" href="index.html">Movie Night</a>
            </div>
            <div class="topnav">
                <form method="get" action="/">
                    <input type="text" name="search" placeholder="Search..">
                </form>
            </div>
        </div>
    </header>

    <ul class="grid">
        {{range .Movies}}
        <div class="grid_background">
            <li class="grid-item">
                <a class="Genre">{{.Genre}}</a>
                <a href="#">
                    <img src="{{.PosterPath}}" alt="{{.Title}}">
                </a>
                <a class="title">{{.Title}}</a>
            <li class="switch-movie-button">
                <!-- Trigger the modal with a link -->
                <a href="#modal" class="open-modal">Switch</a>
            </li>
            </li>
        </div>
        {{end}}
    </ul>

    <!-- The Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <!-- Close the modal with a link -->
            <a href="#" class="close">&times;</a>
            <form method="get" action="/">
                <input type="text" name="search" placeholder="Search..">
            </form>
            <ul class="grid">
                {{range .Movies}}
                <div class="grid_background">
                    <li class="grid-item">
                        <a class="Genre">{{.Genre}}</a>
                        <a href="#">
                            <img src="{{.PosterPath}}" alt="{{.Title}}">
                        </a>
                        <a class="title">{{.Title}}</a>
                    </li>
                </div>
                {{end}}
            </ul>

        </div>
    </div>

</body>

</html>