<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIE NIGHT</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styleabout.css">
    <script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <div class="header-container">
            <div class="LOGO">
                <a class="header_movie" href="/main/">Movie Night</a>
            </div>

        </div>
    </header>

    <div class="topnav">
        <form method="get" action="/search/">
            <input type="text" name="search" placeholder="Search..">
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="aboutgrid">

        <div class="aboutdiv">
            <div>

                {{if .AboutMovie.PosterPath}}
                <img src="{{.AboutMovie.PosterPath}}" class="aboutposter">
                {{else}}
                <img src="/static/images/No-Picture-Found.png" class="aboutposter">
                {{end}}
            </div>


            <div class="aboutabout">

                <a class="abouttitle" alt="Movie Title"> {{.AboutMovie.Title}} </a>
                {{if .AboutMovie}}
                <h2>About</h2>
                <p>{{.AboutMovie.Overview}}
                </p>
                {{else}}
                <h2>About</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum
                    vestibulum.</p>

                {{end}}


            </div>
        </div>

        <div class="wrapper-container">
            <a class="abouttrailer"> Trailers</a>
            <div class="wrapper">
                {{if .Trailer}}
                {{range .Trailer}}
                <iframe class="item" src="https://www.youtube.com/embed/{{.Key}}">
                </iframe>
                {{end}}
                {{else}}
                <img class="item" src="/static/images/No-Trailer-Found.png">
                </img>
                {{end}}
            </div>
        </div>

    </div>

</body>

</html>