body {
    margin: 0;
    background: #222;
    font-family: 'OCR A Extended', monospace;
    font-weight: 300;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background: rgb(214, 85, 113);
    background: linear-gradient(90deg, rgba(214, 85, 113, 1) 0%, rgba(93, 67, 136, 1) 100%);
    padding-top: 200;
    margin-top: 200;
}

.LOGO {
    padding-top: 50px;
    margin-bottom: -40px;
}

header::after {
    content: '';
    display: table;
    clear: both;
    float: center;
}

.header_movie {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100px;


}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.header-container {

    text-align: center;
}


.search_button {

    align-self: auto;
}



ul.grid {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin-top: 50px;

}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item img {
    width: 100%;
    /* Make the image fill the grid item */
    height: auto;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-item h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.add-movie-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

}

.add-movie-button button {
    background-color: #d65571;
    color: #ffffff;
    padding: 5px 110px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;

    cursor: pointer;
}


.Genre {
    background-color: #d65571;
    color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
    width: 200px;
    overflow: hidden;

}


.title {

    background-color: #353434;
    color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    white-space: nowrap;
    width: 200px;
    overflow: hidden;

}


/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    ul.grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        /* Adjust grid item size on smaller screens */
    }
}

@media (max-width: 480px) {
    ul.grid {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        /* Further adjust for very small screens */
    }
}