body {
    margin: 0;
    background: #121212;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #E0E0E0;
}

.header-container {
    text-align: center;
}

header {
    background: rgb(30, 30, 30);
    background: linear-gradient(90deg, rgba(30, 30, 30, 1) 0%, rgba(60, 60, 60, 1) 100%);
    padding: 50px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.LOGO {
    margin-bottom: -20px;
}

.header_movie {
    color: #E91E63;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: 4px;
}

.search-bar {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 30px;
}

.topnav input[type="text"] {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 20px 0 0 20px;
    background: #333;
    color: #E0E0E0;
    transition: background-color 0.3s, border-color 0.3s;
    outline: none;
    width: 300px;

}

.topnav input[type="text"]:focus {
    background: #444;
    border-color: #E91E63;
}

.topnav button[type="submit"] {
    padding: 10px 20px;
    background: linear-gradient(135deg, #7C4DFF, #FF4081);
    color: #ffffff;
    border: none;
    border-radius: 0 20px 20px 0;

    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
    outline: none;

}

.hiddenbutton {

    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}



ul.grid {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 50px auto;

}

.grid-item {
    position: relative;
    background: #1E1E1E;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    padding-bottom: 10px;
}

.grid-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.grid-item img {
    width: 100%;

}

.grid-item h2 {
    margin-top: 10px;
    font-size: 18px;
    color: #E0E0E0;
    text-align: center;
}

.grid-title {
    margin-left: 10px;
    margin-top: 40px;


}

.grid-buttons {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;


}

.winner-list {
    margin-top: 5px;

}

.switch-movie-button button {
    background: linear-gradient(135deg, #7C4DFF, #FF4081);
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, box-shadow 0.3s;
}

.switch-movie-button select {
    padding: 10px;
    background: #333;
    color: #E0E0E0;
    border: 1px solid #444;
    border-radius: 20px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    max-width: 300px;
    transition: background-color 0.3s, border-color 0.3s;
    margin-top: 10px;
    cursor: pointer;
}

.switch-movie-button select:hover {
    background: #444;
    border-color: #E91E63;
}

.switch-movie-button select:focus {
    outline: none;
    border-color: #FF4081;
    background: #555;
}

/* Style for the select dropdown options */
.switch-movie-button option {
    background: #333;
    color: #E0E0E0;
    padding: 10px;
}

/* Optional: Add a subtle arrow indicator to the dropdown */
.switch-movie-button select {
    appearance: none;
    background-image: linear-gradient(135deg, #7C4DFF, #FF4081), url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23E0E0E0" d="M2 0L0 2h4z"/></svg>');
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 12px;
}

.Genre {
    position: absolute;
    top: 10px;
    left: 10px;
    background: linear-gradient(135deg, #FF4081, #E91E63);
    color: #ffffff;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 5px;
    z-index: 1;

}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 60px;
    transition: opacity 0.3s ease;
}

.modal-content {
    background: linear-gradient(135deg, #1E1E1E, #333);
    margin: 5% auto;
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    max-width: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.close {
    color: #E91E63;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover,
.close:focus {
    color: #FF5252;
}

.modal-content form input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    max-width: 400px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 10px;
    background: #444;
    color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

.modal-content form input[type="text"]:focus {
    background: #555;
    border-color: #E91E63;
}

.modal-content button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(135deg, #7C4DFF, #FF4081);
    color: #fff;
    border: none;
    border-radius: 20px;
    width: 150px;
    transition: background-color 0.3s;
}

.modal-content button[type="submit"]:hover {
    background: linear-gradient(135deg, #FF4081, #7C4DFF);
}

/* For mobile responsiveness */
@media (max-width: 768px) {
    .switch-movie-button select {
        max-width: 100%;
        /* Ensure it scales down for smaller screens */
    }
}

@media (max-width: 768px) {
    ul.grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media (max-width: 480px) {
    ul.grid {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }

    .header_movie {
        font-size: 36px;
    }
}